@model defensoresTablada.Models.BBDD.Rutina

@{
    ViewData["Title"] = "Details";
}
<link href="~/css/styles.css" rel="stylesheet" />

<h1>Details</h1>

<div>
    <h4>Rutina</h4>
    <hr />
    <dl class="row">

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Serie)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Serie)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Repeticion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Repeticion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Peso)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Peso)
        </dd>


        <!--
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Imagen)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Imagen)
    </dd>
        -->

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Editar</a> |
    <a asp-action="Index">Volver a Lista</a>
</div>
