@model defensoresTablada.Models.BBDD.Rutina

@{
    ViewData["Title"] = "Details";
}

<h1>Detalle</h1>

<div>
    <h4>Rutina</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Serie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Serie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreDeEjercicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreDeEjercicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Repeticion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Repeticion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Peso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Peso)
        </dd>
      
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
