@using defensoresTablada
@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<style>
    .colorLetra {
        color: white !important;
    }
</style>
<ul class="nav nav-pills flex-column">
    <li class="nav-item "><a class="nav-link @ManageNavPages.IndexNavClass(ViewContext) colorLetra" id="profile" asp-page="./Index">Perfil</a></li>
    <li class="nav-item "><a class="nav-link @ManageNavPages.EmailNavClass(ViewContext) colorLetra" id="email" asp-page="./Email">Email</a></li>
    <li class="nav-item colorLetra"><a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext) colorLetra" id="change-password" asp-page="./ChangePassword">Contraseña</a></li>
    @if (hasExternalLogins)
    {
        <li id="external-logins" class="nav-item"><a id="external-login" class="nav-link @ManageNavPages.ExternalLoginsNavClass(ViewContext)" asp-page="./ExternalLogins">External logins</a></li>
    }
    <li class="nav-item"><a class="nav-link @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext) colorLetra" id="two-factor" asp-page="./TwoFactorAuthentication">Two-factor authentication</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.PersonalDataNavClass(ViewContext) colorLetra" id="personal-data" asp-page="./PersonalData">Informacion personal</a></li>
</ul>
